.quizBtn {
  display: block;
  margin: 1.5rem auto;
  padding: 0.8rem 2rem;
  border-radius: 8px;
  border: none;
  background-color: #059669;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  transition: all 0.2s;
}

.quizBtn:hover {
  background-color: #044e37;
}
